<h1>@ViewBag.abc</h1>
<form asp-action="Bachai">
    <label> Giai phuong trinh A: </label>
    <input type="text" name="hesoA" ><br>
    <label> Giai phuong trinh B: </label>
    <input type="text" name="hesoB" ><br>
    <label> Giai phuong trinh C: </label>
    <input type="text" name="hesoC" ><br>
    <input type="submit" value="Tinh" >
</form>