<form asp-action="Create" class="w3-container" >
    <label class="w3-text-teal" >Student Code:</label>
    <input class="w3-input w3-border w3-light-grey" type="text" name="StudentCode"><br>
    <label class="w3-text-teal" >FullName</label>
    <input class="w3-input w3-border w3-light-grey" type="text" name="FullName" ><br>
    <label class="w3-text-teal" >Address</label>
    <input class="w3-input w3-border w3-light-grey" type="text" name="Address"><br>
    <button class="w3-btn w3-blue-grey">Register</button>
</form>
